<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>關於我們</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h5>
    &nbsp;&nbsp;&nbsp;里程（LiChen）是一家提供廣告媒合平台服務的公司。車主可以透過里程App，從廣告任務清單上選擇想要承接的廣告，向廣告主提出接案申請，里程廣告平台媒合車主與廣告主廣告託刊服務，並以行駛里程計費，創造廣告主與車主雙贏。
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;一般使用者可以透過平台註冊成為合作夥伴提供車輛刊登廣告服務，而廣告主可以透過里程公司上刊廣告到里程App廣告清單內，讓車主能清楚地看到每件廣告任務時間及報酬，一鍵輕鬆完成廣告接案的預約、上刊、賺錢的步驟。
    <br>
    <br>
    &nbsp;&nbsp;&nbsp;我們以創新的商業媒合廣告模式，解決中小企業廣告主資金不足無法負擔大筆廣告行銷費用，每筆廣告以里程計費，清楚的知道每一塊錢廣告的曝光效果。
  </h5>
</ion-content>