<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wallet">
      <ion-icon src="/assets/icon/wallet-icon.svg"></ion-icon>
      <ion-label>錢包</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="advertise">
      <ion-icon src="/assets/icon/advertise-icon.svg"></ion-icon>
      <ion-label>廣告</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mainpage">
      <ion-icon src="/assets/icon/home-icon.svg"></ion-icon>
      <ion-label>主頁</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notification">
      <ion-icon src="/assets/icon/notification-icon.svg"></ion-icon>
      <ion-label>通知</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="setting">
      <ion-icon src="/assets/icon/setting-icon.svg"></ion-icon>
      <ion-label>設定</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>