<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>廣告接單</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <img [src]="item.photo" width="100%" height="350"
      onerror="this.onerror=null;this.src='../../assets/ImageNotFound.png' " />
  </ion-row>
  <ion-row class="pl-3">
    <ion-col *ngIf="item != null">
      <h2>{{ item.title }}</h2>
      <h5 class="mt-2 mb-4">{{ item.content }}</h5>
      <h5 class="mt-2 mb-2">任務里程：{{ item.distance }} KM</h5>
      <h5 class="mt-2 mb-2">任務金額：$ {{ item.distance * item.price_per_km }}</h5>
      <h5 class="mt-2 mb-2">任務天數：{{ item.days }}日</h5>
      <h5 class="mt-2 mb-2">可接單人數上限：{{ item.headcount }}人</h5>
      <h5 class="mt-2 mb-2">可接單族群建議：{{ item.label_arrs.join(',') }}</h5>
    </ion-col>
  </ion-row>

  <div class="agreement">
    里程合作夥伴約定<br>
    一，<br>
    里程為第三方媒合平台，以下皆簡稱本平台。里程夥伴為受本平台認證的服務夥伴，以下皆簡稱夥伴。夥伴加入後同意時即願自主的承諾及同意並遵守合作協議規範。<br>
    基於平台使用者間之互信與互助，因此本平台夥伴須承諾，願意不欺騙、不失聯、不背信，接單後即對訂單負責並準時履行服務。<br>
    夥伴須自行承擔任何法律、安全、損失或賠償相關責任及風險，為保障自身安全，夥伴應確實實行確認義務。<br>
    二，<br>
    如有發生以下違約項目，將視情況輕重停權或終止夥伴權限:<br>
    1 夥伴與用戶未透過平台私下協議或服務。<br>
    2 拆除、惡意毀損其設備及設備。<br>
    3 發送惡意程式、或施以詐術、利用平台bug等不正當手段，故意或意圖干擾系統者。<br>
    6 接單後失約或失聯情況。如超過約定貼廣告時間前未動告知，亦同。<br>
    7 嚴禁將透過平台取得之任何個人資料公開、洩漏、或用於非訂單需求用途 。<br>
    8接單後已安裝設備及廣告者，系統會在使用者帳戶中預扣100元押金作為設備及廣告成本，若順利完成廣告後，會將賺取利潤扣除押金後匯入指定帳戶。若安裝設備及廣告後失約或失聯者，經平台催告後仍未改善或履行義務者，需賠償該押金。<br>
    9接單後已安裝設備及廣告，有失約或失聯者，經平台催告後仍未改善或履行義務者，同意平台有權將該單改派也下一位候補者。<br>
    三，<br>
    機車夥伴：里程金額為每行駛一公里新台幣兩元(2$/km)，前述里程之計算以平台根據手機GPS訊號計算為主（可能產生些許誤差）。<br>
    里程計算可能天氣、地理環境、手機訊號、GPS信號、移動速度等原因影響，如不可歸責平台原因則不另行給予里程補償。<br>
    里程計算嚴重產生誤差或未計算可歸責於平台時，予以合理或定額之里程補償。<br>
    若特殊狀況未於違約前或當下回報客服提出相關證明，仍以違約處理。<br>
    四，<br>
    經反映違反夥伴合作協議屬實，無論是否遭客訴，本平台皆有權執行懲處。如情節嚴重，本平台亦有權直接終止使用權。<br>
    違約時壓金將由平台向夥伴帳戶中系統自動扣除，餘額不足則須至公司補繳剩餘違約金，若未結清前本平台有權拒絕退除押金或儲值金，再由平台向用者追討壓今。<br>
    五，<br>
    本平台為第三方媒合平台。所有在本平台上的任何訂單或需求，皆屬用戶之個人行為，夥伴若自身行為而引起任何法律、安全、損失或賠償問題，夥伴須自行承擔所有相關責任及風險。如夥伴有任何疑問，皆可致電本平台客服電話進行詢問，本平台保留本合作協議最後決定及修正權。<br>
    六，<br>
    夥伴須於接單前，確保可滿足以下最小安裝空間：<br>
    機車：<br>
    1.確保車牌下方（擋泥板位置）可被合法使用且無遮蔽物。<br>
    2.車廂內保留至少10cmx10cm空間安裝設備。<br>
    七，<br>
    接單前須確保車輛、手機使用狀況正常，並在服務中保持GPS開啟，以利app正常運作。<br>
    應於接單前詳閱時間、地點、備註與特殊需求等訂單資訊，於確認接單後即表示願為此訂單負責。<br>
    行使前確保開啟平台專用app服務，保持網路暢通及確認app與裝置處於連線狀態，才予以計算里程。<br>
    八，<br>
    夥伴確認訂單後，應選定安裝廣告服務地點及安裝時間，確認訂單資訊後等待服務人員聯繫，告知等待時間及安裝地點，避免糾紛與風險。<br>
    夥伴聯繫時應主動告知里程身份，確實確認訂單資訊，以便服務人員安裝及服務。<br>
    行駛時，務必確認在app開啟狀態並與車上廣告設備保持一公尺以內距離以保持app與設備連線（出現連線符號）。<br>
    每次行使完成後，可直接關閉app即代表終止該次行駛，若未關閉App則會持續在背景運作並持續偵測是否與設備保持連線。行程結束後，app會自動計算里程併計入夥伴帳號中顯示該次里程資訊。<br>
    九，<br>
    除特殊或不可抗力因素外，接單後不得無故取消訂單或未到。如需取消訂單應主動聯繫平台告知情形，並致電客服尋求協助。<br>
    若夥伴頻繁取消，系統將自動鎖定接單權限，並依取消頻率狀況自動調整鎖定時間。<br>
    十，<br>
    夥伴須於執行服務前確認該次行程是否歸零起算，發現路線或里程有疑慮請於當下主動尋求客服協助。<br>
    里程、路線、金額有任何錯誤或修正，夥伴皆有義務即時反應且須於當日請客服修正處理，以免影響當日結款而無法補發或造成用戶額外扣款，若於非客服時段請於當日以Email將修正資訊寄出或透過App向客服回報紀錄。<br>
    十一，<br>
    若廣告或設備出現非人為損壞，夥伴有權要求平台免費更新。<br>
    若為人為損壞時，夥伴將自行負擔損害賠償之責任，平台將酌收費用協助予以更新。<br>
    十二，<br>
    本平台與夥伴並非傭雇關係，亦不屬勞務工作，因此未提供勞、健保，若夥伴有意增加自身保障，可自行向相關工會辦理或客服人員詢問相關建議。<br>
    十三，<br>
    如夥伴有任何訂單相關問題，請透App內回報功能回報，平台會盡力協助處理。如遇非客服服務時段，請務必先留言，以便隔日客服協助。<br>
    如非訂單問題，請透過官方email詢問，將有客服人員回覆。<br>
    十四，<br>
    本平台為第三方媒合平台，並非物流廣告/貨運公司，本平台不保證一定媒合到合作夥伴。<br>
    夥伴或用戶若違反本守則，導致任何法律及安全問題，用戶應自行負責。<br>
    本平台保留所有守則最後決定及修正權，以平台上最終顯示之資訊為主。<br>
  </div>

  <div class="agree-box">
    <ion-checkbox (ionChange)="agree($event)"></ion-checkbox>
    <ion-label class="ml-2">我同意</ion-label>
  </div>
  <ion-button color="primary" expand="block" class="verify-btn mb-4" [attr.disabled]="btnDisabled" (click)="next()">下一步
  </ion-button>
</ion-content>