<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>新增帳號</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card bg-white class="ion-padding">
    <ion-row class="ion-margin-top">
      <ion-col size="8">
        <ion-item>
          <ion-label position="stacked">銀行名稱</ion-label>
          <ion-select placeholder="請選擇銀行" [interfaceOptions]="bankInterfaceOptions" (ionChange)="changeBank($event)"
            [(ngModel)]="bank_id">
            <ng-container *ngFor="let item of banks">
              <ion-select-option [value]="item.bank_id">{{ item.bank_id | number:'3.0' }} {{ item.bank_name }}
              </ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="8">
        <ion-item>
          <ion-label position="stacked">銀行地區</ion-label>
          <ion-select placeholder="請選擇縣市" [(ngModel)]="bank_county_id">
            <ng-container *ngFor="let county of counties">
              <ion-select-option [value]="county.county_id">{{ county.name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col size="8">
        <ion-item>
          <ion-label position="stacked">分行名稱</ion-label>
          <ion-select placeholder="請選擇分行" [(ngModel)]="branch_id" [attr.disabled]="disableBranchSel">
            <ng-container *ngFor="let branch of branches">
              <ion-select-option [value]="branch.branch_id">{{ branch.branch_name }}</ion-select-option>
            </ng-container>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">銀行戶名</ion-label>
          <ion-input class="mt-3" [(ngModel)]="account_name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label position="stacked">銀行帳號</ion-label>
          <ion-input class="mt-3" type="number" [(ngModel)]="bank_account"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-button color="primary" expand="block" class="verify-btn" (click)="confirm()">確認
  </ion-button>
</ion-content>