<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>隱私政策</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2><strong>隱私權政策</strong></h2>
  「里程」是由「優虎股份有限公司」所營運的線上廣告媒合平台。<br><br>
  當您使用「里程」時，我們會要求您提供個人資訊（如電子郵件地址、手機號碼或身分證明等）以供註冊服務與識別身份，另外於您瀏覽「里程」之相關網站頁面及使用「里程」之管理界面、網站編輯器與其相關服務期間我們會儲存、使用及處理您因瀏覽或操作「里程」相關網站及服務時所產生的非個人資料（如瀏覽器版本、作業系統等）以供系統分析使用。<br><br>
  我們承諾會以最嚴謹的方式保障您於網路上的個人資訊，請您詳閱《隱私權政策》，當您開始瀏覽本站之相關網站頁面或註冊使用「里程」時，視同您承認並同意本《隱私權政策》。若您不同意本《隱私權政策》或不願提供您的個人資料或非個人資料，請立即停止瀏覽或使用「里程」之相關網站頁面及app界面。<br><br>
  本《隱私權政策》會不時變更，我們鼓勵您定期查閱本《隱私權政策》。本《隱私權政策》之變更，一律會在本頁發佈，如有重大變更會提供更明顯的通知。<br><br>
  如您對本《隱私權政策》有任何疑問，歡迎與我們聯繫。
  <br><br>
  <h2><strong>適用範圍</strong></h2>
  本《隱私權政策》適用於「里程」所擁有、經營與管理之相關網站、部落格、管理界面、網站編輯器、電子郵件與其他相關網站及服務。<br><br>
  本《隱私權政策》不適用於與「里程」相連之其他網站與服務，亦不適用於他人使用「里程」所建立之網站及其內容。<br><br>
  <h2><strong>資訊收集</strong></h2>
  我們使用多種方式與技術從平台相關網站與服務界面之不同部分收集使用者資訊，所收集的資訊可以分為「個人資訊」及「非個人資訊」。<br><br>
  在法令所定應保存之期間內，我們會持續保管、處理及使用相關資料。<br><br>
  <h2><strong>個人資訊</strong></h2>
  <h4>我們收集的個人資訊</h4>
  個人資訊是指可以用於識別或聯繫特定個人的資訊。<br><br>
  「里程」會將收集的個人資訊用於提供、維持、保護與改善我們的服務與開發新服務及功能。您不一定要依照「里程」的請求提供您的個人資訊，但如果您選擇不提供，會導致洗車平台在許多情況下無法為您提供相對應的服務（比如若您選擇不提供電子郵件地址，將無法為您建立帳戶）。<br><br>
  當您註冊「里程」的帳戶、購買服務、聯絡我們或是參與線上問卷調查等行為時，我們可能會請您提供包括但不限於您的電子郵件地址、手機號碼等個人資訊，這些資訊是用來建立與識別您的帳戶或是與您聯繫時使用。<br><br>
  <h4>我們如何使用您的個人資訊</h4>
  <ul>
    <li>我們會不定時使用您的個人資訊以寄送相關的重要通知，例如使用條款或隱私權政策的修改或變更、重大營運公告等。由於此類通知訊息對您權益至關重要，您無法取消接收此類通知。
    <li>我們會不定時使用您的個人資訊以寄送服務公告、新功能、更新及活動，若您不希望列載於通知郵寄列表，您可更新偏好設定，隨時退出。</li>
    <li>我們可能會使用個人資訊來製作、開發、操作、提供並改善網站、服務、內容和廣告。</li>
    <li>我們可能會基於損失預防及反詐騙目的而使用您的個人資訊。</li>
    <li>我們可能會使用您的個人資訊來驗證與識別身份及確認適當的服務。</li>
    <li>我們可能會基於警察、司法單位或法院公權力的要求提供或使用您的個人資訊。</li>
  </ul>
  <h2><strong>非個人資訊</strong></h2>
  <h4>我們收集的非個人資訊</h4>
  於您瀏覽「里程」之相關網站頁面及使用管理界面、網站編輯器與其相關服務期間，我們會儲存、使用及處理括但不限於您的瀏覽路徑、檢視的頁面、點擊的連結等操作資訊及包括但不限於您的IP位置、瀏覽器版本、螢幕解析度等由裝置、系統、通訊協定或伺服器所產生之特定標準資訊。<br><br>
  <h4>我們如何使用非個人資訊</h4>
  <ul>
    <li> 可能會收集您的語言、郵遞區號、唯一裝置識別碼、地點以及時區等資訊，協助我們更深入瞭解使用行為，以協助改進網站服務、內容及廣告。</li>
    <li> 可能會收集機資訊、系統活動、硬體設定、瀏覽器類型、瀏覽器語言、提出要求的日期和時間以及參照連結網址，以協助解決系統問題或改進產品與服務。</li>
    <li> 可能在「里程」的網站及服務收集有關使用者活動的資訊。我們將彙總這類資訊，以協助我們改進服務、內容及廣告。</li>
    <li> 可能會運用瀏覽器網路存放區和應用程式資訊快取等機制，收集資訊並將其儲存在您的裝置本機中。</li>
    <li> 當您瀏覽「里程」網站頁面與使用本站服務時，我們可能會使用各種技術收集並儲存資訊，這可能包括使用Cookie及其他技術。</li>
    <li> 如果「里程」將非個人資訊及個人資訊合併在一起，則在前述資訊仍為合併的情況，該合併資訊將被視為是個人資訊。</li>
    <li> 「里程」得為任何目的收集、使用、處理、移轉及揭露非個人資訊。</li>
  </ul>
  <h2><strong>Cookie及其他技術</strong></h2>
  「里程」之相關網站、服務、電子郵件訊息及廣告與第三方服務提供者（例如Google
  Analytics、MailChimp等）可能使用「Cookie」及其他技術，例如像素標籤或網路信標，自動收集部分資訊並將其儲存於記錄檔中。這類資訊包括網路通訊協定位址、瀏覽器類型及語言、網路服務供應商、轉介和離開網站和應用程式、作業系統、日期/時間戳記及點選流資料。這類技術與資訊可協助我們更充分瞭解使用者行為，告訴使用者曾瀏覽過網站或使用過服務的哪些部分，並可促進及衡量服務的效益。我們將透過Cookie與其他技術所收集的資訊視為非個人資訊，並得使用前述資訊從事行銷及廣告行為。<br><br>
  <h2><strong>向第三方揭露</strong></h2>
  除非適用下列任一情況，否則我們不會與其他公司、機構或個人分享您的「個人資訊」及/或「非個人資訊」：
  <h4>第三方服務提供者</h4>
  我們會與提供以下服務的公司共用您的資訊：資訊處理、完成訂單、交付產品、管理資料、提供服務、評估服務、改進服務、執行研究及調查等。
  <h4>政府單位</h4>
  您居住地國內或國外的法律、法律程序、訴訟及/或公共和政府機關，可能會要求「里程」必須揭露您的資訊。我們也可能基於國家安全、執法或其他重要公共議題，在判定為必要及適當的情況下，揭露您的資訊。<br><br>
  也可能為了執行「里程」的條款與條件或保障網站營運或其他使用者，在判定為合理必要的情況下揭露您的資訊。<br><br>
  此外若發生重整、合併或出售等情況，我們將繼續嚴守任何資訊之保密，並於資訊移轉或應適用不同隱私權政策前，先行通知您。
  <h4>其他</h4>
  「里程」的網站、產品及服務可能含有連結至第三方網站、產品或服務的連結。我們的網站及服務亦可能使用或提供第三方產品或服務。而第三方網站、產品或服務所收集的資資訊，可能包括諸如位置資訊或詳細聯絡資訊等的資訊，均依據該第三方網站、產品或服務的隱私權政策實務為準。我們鼓勵您瞭解這些第三方的隱私權實施方式。
  <h2><strong>存取與更新您提供的個人資訊</strong></h2>
  無論您何時使用「里程」的服務，我們都致力讓您能夠存取您自己的個人資訊。如果該資訊有誤，我們會盡力提供管道讓您可以迅速更新或刪除資訊，但如果基於正當業務或法律目的考量必須保存該資訊時，則不在此列。更新您的個人資訊時，我們會請您先驗證身份，再受理您的要求。我們會拒絕處理過度重複、需要過多技術人力、危害其他使用者隱私權、極度不切實際的存取要求。除非相關作業過於繁複，否則不會就資訊存取和改正收取任何費用。<br><br>
  「里程」致力於在維持服務的同時也保護資訊不致遭到意外或惡意毀損。因此，當您從本站的服務中刪除資訊後，我們可能不會立即將殘餘檔案副本從動態伺服器中刪除，也可能不會從備份系統移除該資訊。<br><br>
  <h2><strong>保護您的個人資訊</strong></h2>
  我們致力於保護所持有使用者的個人資訊，並使用合於當時產業標準之合理技術及程序防止相關資訊未經授權而遭到存取、竄改、揭露或毀損。

</ion-content>