<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>時間確認</ion-title>
    <ion-icon src="assets/icon/customer.svg" (click)="showHelp()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="pl-4 pr-4">
      <h4>
        車身廣告需要由里程指定工作人員安裝廣告及設備。請選擇您想要安裝的日期、時間及地點，我們會有專人替您服務。
      </h4>
      <h4>選擇你想貼車身廣告的時間</h4>

      <ion-item class="ion-margin-bottom">
        <ion-icon name="ios-calendar" slot="start"></ion-icon>
        <ion-datetime slot="end" [pickerOptions]="pickerOptions" displayFormat="YYYY/MM/DD" [min]="minDate" mode="ios"
        max="2029-12-31" placeholder="請選擇日期" [(ngModel)]="chooseDate">
        </ion-datetime>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon name="time" slot="start"></ion-icon>
        <ion-select slot="end" [(ngModel)]="chooseTime" placeholder="請選擇時間">
          <ion-select-option value="0">早上</ion-select-option>
          <ion-select-option value="1">下午</ion-select-option>
          <ion-select-option value="2">晚上</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="ion-margin-bottom">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-select slot="end" [(ngModel)]="chooseLocation" placeholder="請選擇地點"
          [interfaceOptions]="locationInterfaceOptions">
          <ng-container *ngFor="let item of locations">
            <ion-select-option [value]="item.id">{{ item.address }}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-button color="primary" expand="block" class="verify-btn mb-4" (click)="confirm()">
    確認
  </ion-button>
</ion-content>